---
services:
  slskd:
    build:  
      context: .
      dockerfile: Dockerfile.slskd 
    container_name: slskd-dev
    ports:
      - "5030:5030"
      - "5031:5031"
      - "50300:50300"
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
    volumes:
      - ./slskd:/app
      - /media/pi/Lexar/music:/music
      - /media/pi/Lexar/musiclibrary.db:/music/musiclibrary.db
      - ./shared:/shared
    restart: always
    networks:
      - rax-net
    labels:
      glance.name: slskd-dev
      glance.hide: false
      glance.icon: https://avatars.githubusercontent.com/u/76762370?s=200&v=4
      glance.url: http://slskd.rax.zone
      glance.description: "Soudlseek file sharing network app (dev)"

  fastapi:
    build: .
    container_name: fastapi-dev
    ports:
      - "8000:80"
    
    depends_on:
      - slskd
    restart: always
    networks:
      - rax-net
    labels:
      glance.name: FastAPI slskd endpoints (dev)
      glance.hide: false
      glance.icon: si:fastapi
      
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome-dev
    user: 1000:1000 
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      # Optional: put your config options customization here. Examples:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info  
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: ""
      ND_LASTFM_APIKEY: "ba4d1d6a559025928f35ab4499e8bd9a"
      ND_LASTFM_SECRET:  "66fe381a44a991e76623b24177994947"
      ND_LASTFM_LANGUAGE: "en"
    volumes:
      - "/media/pi/Lexar/music/complete:/music:ro"
      - "/home/pi/dev/navidrome:/data"
    labels:
      glance.name: Navidrome (dev)
      glance.hide: false
      glance.icon: https://avatars.githubusercontent.com/u/26692192?s=200&v=4
      glance.url: http://navidrome.rax.zone
      glance.description: "Music Streaming Server (dev)"
    networks:
      - rax-net


networks:
  rax-net:
    external: true